@import url('https://fonts.googleapis.com/css?family=Fira+Code|Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background;
  @apply text-gray-100;
}
