@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@400;700&display=swap");
@import "./imports/fontello-embedded.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  max-width: 100vw;
  background-color: #2d2d2d;
  color: #f1f1f1;
  @apply font-body;
}

.card {
  flex: 0 1 calc(33% - 0.5em);
}

@media screen and (max-width: 32.5em) {
  .card {
    flex: 0 1 calc(100%);
  }
}

@media screen and (min-width: 32.5em) and (max-width: 50em) {
  .card {
    flex: 0 1 calc(50% - 0.5em);
  }
}

.card-wrapper {
  max-width: 1200px;
}

#hero,
#contact,
#about,
#blog {
  /*height: 100vh;*/
}

.hero-img {
  max-width: 50vw;
}

@media screen and (max-width: 768px) {
  .hero-img {
    max-width: 100vw;
  }
}
