/*@import "imports/reset.css";*/

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #2d2d2d;
  color: #f1f1f1;
  font-family: Helvetica, Ubuntu, "DejaVu Sans", Arial, sans-serif;
}

.card {
  flex: 0 1 calc(33% - 0.5em);
  background-color: #22d07f;
}

@media screen and (max-width: 32.5em) {
  .card {
    flex: 0 1 calc(100%);
  }
}

@media screen and (min-width: 32.5em) and (max-width: 50em) {
  .card {
    flex: 0 1 calc(50% - 0.5em);
  }
}

#hero,
#contact,
#about,
#blog,
#work {
  min-height: 100vh;
}

.card-wrapper {
  max-width: 960px;
}
