/*@import "imports/reset.css";*/

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  background-color: #2d2d2d;
  color: #f1f1f1;
  font-family: Helvetica, Ubuntu, "DejaVu Sans", Arial, sans-serif;
}
