{{ define "main" }}

<main aria-role="main" class="mx-auto">
  <div id="hero" class="flex flex-col items-center justify-center">
    <div class="text-center m-2 md:p-6">
      <h1 class="font-black text-6xl font-mono tracking-tight">
        <span class="text-purple-600">&lt;</span>kayak<span
          class="text-purple-600"
          >/&gt;</span
        >
      </h1>
      <p class="mb-4">
        web developer and designer from brisbane, australia
        <small>(crikey)</small>
      </p>

      <div class="block mb-2">
        <button
          class="uppercase border border-purple-600 p-2 rounded-md hover:border-0 hover:bg-purple-600 inline-block"
        >
          get in touch
        </button>
      </div>

      <div class=" p-2 block">
        <button
          class="uppercase border border-purple-600 p-2 rounded-md hover:border-0 hover:bg-purple-600 inline-block mx-2"
        >
          <i class="icon-github"></i>
        </button>
        <button
          class="uppercase border border-purple-600 p-2 rounded-md hover:border-0 hover:bg-purple-600 inline-block mx-2"
        >
          <i class="icon-twitter"></i>
        </button>
      </div>
    </div>
  </div>

  <div id="work">
    <h2 class="text-2xl text-center font-mono p-4">
      <span class="text-purple-600">console.table(</span>previousWork<span
        class="text-purple-600"
        >);</span
      >
    </h2>
    <div class="card-wrapper p-2 m-2 mx-auto">
      <section class="cards flex flex-wrap justify-center">
        {{ range .Site.Sections }} {{ range first 100 .Pages }}

        <div class="card box-border p-4 m-2 border border-purple-600">
          <h3
            class="uppercase text-xl font-black hover:text-purple-600 hover:underline"
          >
            <a href="{{ .Permalink }}">
              {{ .Page.Title }}
            </a>
          </h3>
          <p>{{ .Page.Description }}</p>
        </div>

        {{ end }} {{ end }}
      </section>
    </div>
  </div>

  <div id="about" class="bg-indigo-700">
    <h1><span class="font-mono">#about</span> tells people how cool I am</h1>
  </div>

  <div id="contact" class="bg-orange-700">
    <h1>
      <span class="font-mono">#contact</span> tells people how they can talk 2
      me
    </h1>
  </div>

  <div id="blog" class="mx-auto">
    <h2
      class="uppercase m-2 p-2 text-purple-600 font-black inline-block text-2xl"
    >
      blog
    </h2>

    <div class="card-wrapper p-2 m-2 mx-auto">
      <section class="cards flex flex-wrap justify-center">
        {{ range .Site.RegularPages }} {{ if ne .Section "projects"}}
        <div class="card box-border p-4 m-2 border border-purple-600">
          <h3
            class="uppercase text-xl font-black hover:text-purple-600 hover:underline"
          >
            <a href="{{ .Permalink }}">
              {{ .Page.Title }}
            </a>
          </h3>
          <p>{{ .Page.Description }}</p>
        </div>
        {{end}} {{ end }}
      </section>
    </div>

    <!-- qq -->
  </div>
</main>
<footer id="footer" class="bg-blue-700 text-center p-2 mb-1 font-mono">
  <h3>this is the footer</h3>
</footer>
{{ end }}
