{{ define "main" }}
<main aria-role="main">
  <header class="homepage-header bg-purple-800 text-center p-2 mb-1 font-mono">
    <h1 class="uppercase">{{.Title}}</h1>
  </header>
  <div id="blog">
    <h2
      class="uppercase m-2 p-2 text-purple-500 font-black inline-block text-2xl"
    >
      blog
    </h2>

    <div class="blog-listing">
      <section class="cards">
        {{ range .Site.RegularPages }}

        <div class="card">
          <h3 class="uppercase text-xl font-black">{{ .Page.Title }}</h3>
          <p>{{ .Page.Description }}</p>
        </div>

        {{ end }}
      </section>
    </div>

    <!-- qq -->
  </div>
</main>
{{ end }}
